html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    height: 90%;
    margin-left: 25%;
}

footer {
    flex-shrink: 0;
}

.MessageBox {
    max-height: 60vh;
    overflow: auto;
}

.margin_right_25 {
    margin-left: 0;
    margin-right: 25%;
}

#Channel, #Invitations, #Mychat, #NewUser, #PastUser {
    display: none;
}
