 <!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title th:text="${title}"></title>
        <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@4.9.0/dist/full.min.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
    <header>
        <div class="fixed z-40 top-0 navbar bg-base-100">
            <div class="navbar-start">
                <div class="dropdown">
                    <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
                    </div>
                    <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                        <li><a href="#Home" class="active nav-items">Home</a></li>
                        <li><a href="#NewUser" class="nav-items">New User</a></li>
                        <li><a id="linkToClick" href="#PastUser" class="nav-items">Past users</a></li>
                    </ul>
                </div>
                <a href="/admin" class="btn btn-ghost text-xl" th:text="${pageTitle}"></a>
            </div>
            <div class="navbar-center hidden lg:flex">
                <ul class="menu menu-horizontal px-1">
                    <li><a href="#Home" class="nav-items">Home</a></li>
                    <li><a href="#NewUser" class="nav-items">New User</a></li>
                    <li><a href="#PastUser" class="nav-items">Past Users</a></li>
                </ul>
            </div>
            <div class="navbar-end">
                <form method="post" action="/logout">
                    <button type="submit" class="btn btn-outline btn-error">Logout</button>
                </form>
            </div>
        </div>
    </header>

    <aside class="fixed top-20 bottom-20 left-0 z-0 w-1/4 h-screen" aria-label="Sidebar">
        <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
            <ul class="space-y-4 font-medium items-center text-center">
                <li class="flex justify-center">
                    <div class="avatar">
                        <div class="w-24 h-24 rounded-full overflow-hidden">
                            <img th:src="@{images/portrait-homme.jpg}" alt="portrait-homme" class="object-cover w-full h-full" />
                        </div>
                    </div>
                </li>
                <li><em th:text="${user.firstName}"></em></li>
                <li><em th:text="${user.lastName}"></em></li>
                <li><em th:text="${user.email}"></em></li>
                <li><em th:if="${user.admin}">Admin</em></li>
                <li><em th:unless="${user.admin}">Regular user</em></li>
            </ul>
        </div>
    </aside>


    <main class="mt-20">
        <div id="Home" style="margin-bottom: 2%">
            <div class="self-center m-30">
                <h1 class="self-center text-center text-4xl font-extrabold decoration-8 decoration-blue-400">
                    Users
                </h1>
                <div class="mt-4 max-w-sm mx-auto">
                    <form method="get" action="/admin">
                        <label for="searchInput"></label>
                        <input id="searchInput" name="query" type="text" placeholder="Search users..." class="input input-bordered w-full" onkeyup="filterUsers()">
                        <div class="flex items-center mt-2">
                            <button type="submit" class="btn btn-primary w-full">Search</button>
                            <label for="sortOrder"></label>
                            <select id="sortOrder" name="sortOrder" class="select select-bordered ml-2" onchange="sortUsers()">
                                <option value="" selected disabled>Sort by</option>
                                <option value="alphabetical">Alphabetical</option>
                                <option value="id">By ID</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <ul id="userList" class="bg-white shadow overflow-hidden sm:rounded-md max-w-sm mx-auto mt-16">
                <li th:each="u : ${userPage}" class="border-t border-gray-200 user-item">
                    <div class="px-4 py-5 sm:px-6 border-solid relative">
                        <div class="flex items-center justify-between">
                            <div class="flex flex-col items-center">
                                <h3 class="text-lg leading-6 font-medium text-gray-900" th:text="${u.id}+' - '+${u.firstName}+' '+${u.lastName}"></h3>
                                <p class="text-sm text-gray-500" th:text="${u.email}"></p>
                            </div>
                            <div class="flex flex-col items-center">
                                <div class="flex items-center">
                                    <form method="post" action="/modifyUser">
                                        <input type="hidden" th:value="${u.id}" name="id">
                                        <button class="btn btn-xs mb-2">Edit</button>
                                    </form>
                                    <form method="post" action="/toggleUser">
                                        <input type="hidden" th:value="${u.id}" name="id">
                                        <button class="btn btn-xs mb-2" type="submit">Deactivate</button>
                                    </form>
                                </div>
                                <form method="post" action="/deleteUser">
                                    <input type="hidden" th:value="${u.id}" name="id">
                                    <input class="btn btn-xs btn-error" type="submit" value="Delete">
                                </form>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <!-- Pagination controls -->
            <div class="flex justify-center mt-4">
                <nav aria-label="Page navigation">
                    <ul th:if="${totalPages > 0}" class="inline-flex -space-x-px">
                        <li th:if="${currentPage > 0}">
                            <a th:href="@{/admin(page=${currentPage - 1})}" class="py-2 px-3 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700">Previous</a>
                        </li>
                        <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
                            <a th:href="@{/admin(page=${i})}" th:text="${i + 1}"  th:classappend="${currentPage == i} ? 'py-2 px-3 leading-tight text-gray-500 bg-gray-200 border border-gray-300 cursor-not-allowed' : 'py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700'"></a>
                        </li>
                        <li th:if="${currentPage < totalPages -1 }">
                            <a th:href="@{/admin(page=${currentPage + 1})}" class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700">Next</a>
                        </li>
                    </ul>
                    <div th:if="${totalPages == 0}" class="flex justify-center mt-4">
                        <h1 class="text-2xl font-semibold text-gray-500">No user</h1>
                    </div>
                </nav>
            </div>
        </div>

        <!-- New User and Past User sections remain the same -->
        <div id="NewUser" style="margin-bottom: 2%">
            <div class="self-center m-30">
                <h1 class="self-center text-center text-4xl font-extrabold decoration-8 decoration-blue-400">
                    New user
                </h1>
            </div>
            <form method="post" action="/createUser" id="userForm" class="max-w-md mx-auto mt-10">
                <div class="grid md:grid-cols-2 md:gap-6">
                    <div class="relative z-0 w-full mb-5 group">
                        <input type="text" name="firstName" id="floating_first_name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                        <label for="floating_first_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">First name</label>
                        <span class="error-message text-red-600"></span>
                    </div>
                    <div class="relative z-0 w-full mb-5 group">
                        <input type="text" name="lastName" id="floating_last_name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                        <label for="floating_last_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Last name</label>
                        <span class="error-message text-red-600"></span>
                    </div>
                </div>
                <div class="relative z-0 w-full mb-5 group">
                    <input type="email" name="email" id="email" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                    <label for="email" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email address</label>
                    <span class="error-message text-red-600"></span>
                </div>
                <div class="relative z-0 w-full mb-5 group">
                    <input type="password" name="password" id="password" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                    <label for="password" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Password</label>
                    <span class="error-message text-red-600"></span>
                </div>
                <div class="relative z-0 w-full mb-5 group flex flex-row content-between">
                    <div class="flex items-center ps-4 dark:border-gray-700 me-6">
                        <input id="radioYes" type="radio" value="admin" name="admin">
                        <label for="radioYes" class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Admin</label>
                    </div>
                    <div class="flex items-center ps-4 dark:border-gray-700">
                        <input checked id="radioNo" type="radio" value="regular-user" name="admin">
                        <label for="radioNo" class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Regular user</label>
                    </div>
                </div>
                <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Create</button>
            </form>
        </div>

        <div id="PastUser" style="margin-bottom: 2%">
            <div class="self-center m-30">
                <h1 class="self-center text-center text-4xl font-extrabold decoration-8 decoration-blue-400">
                    Past Users
                </h1>
                <div class="mt-4 max-w-sm mx-auto">
                    <form method="get" action="/admin">
                        <input type="hidden" name="activatePastUsersSection" value="true">
                        <label for="searchPastUsersInput"></label>
                        <input id="searchPastUsersInput" name="queryPast" type="text" placeholder="Search past users..." class="input input-bordered w-full" onkeyup="filterPastUsers()">
                        <div class="flex items-center mt-2">
                            <button type="submit" class="btn btn-primary w-full">Search</button>
                            <label for="sortPastUsersOrder"></label>
                            <select id="sortPastUsersOrder" name="sortPastUsersOrder" class="select select-bordered ml-2" onchange="sortPastUsers()">
                                <option value="" selected disabled>Sort by</option>
                                <option value="alphabetical">Alphabetical</option>
                                <option value="id">By ID</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <ul id="pastUsersList" class="bg-white shadow overflow-hidden sm:rounded-md max-w-sm mx-auto mt-16">
                <li  th:each="u : ${pastUserPage}" class="border-t border-gray-200 pastuser-item">
                    <div class="px-4 py-5 sm:px-6 border-solid">
                        <div class="flex items-center justify-between">
                            <div class="flex flex-col items-center">
                                <h3 class="text-lg leading-6 font-medium text-gray-900" th:text="${u.id}+' - '+${u.firstName}+' '+${u.lastName}"></h3>
                                <p class="text-sm text-gray-500" th:text="${u.email}"></p>
                            </div>
                            <div class="flex flex-col items-center">
                                <div class="flex items-center">
                                    <form method="post" action="/modifyUser">
                                        <input type="hidden" th:value="${u.id}" name="id">
                                        <button class="btn btn-xs mr-2">Edit</button>
                                    </form>
                                    <form method="post" action="/toggleUser">
                                        <input type="hidden" th:value="${u.id}" name="id">
                                        <button class="btn btn-xs mr-2" type="submit">Activate</button>
                                    </form>
                                </div>
                                <form method="post" action="/deleteUser">
                                    <input type="hidden" th:value="${u.id}" name="id">
                                    <input class="btn btn-xs btn-error" type="submit" value="Delete">
                                </form>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="flex justify-center mt-4">
                <nav aria-label="Page navigation">
                    <ul th:if="${pastTotalUserPages > 0}" class="inline-flex -space-x-px">
                        <li th:if="${pastCurrentPage > 0}">
                            <a th:href="@{/admin(pastPage=${pastCurrentPage - 1}, activatePastUsersSection= true)}" class="py-2 px-3 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700">Previous</a>
                        </li>
                        <li th:each="i : ${#numbers.sequence(0, pastTotalUserPages - 1)}">
                            <a th:href="@{/admin(pastPage=${i}, activatePastUsersSection= true)}" th:text="${i + 1}" th:classappend="${pastCurrentPage == i} ? 'py-2 px-3 leading-tight text-gray-500 bg-gray-200 border border-gray-300 cursor-not-allowed' : 'py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700'"></a>
                        </li>
                        <li th:if="${pastCurrentPage < pastTotalUserPages -1 }">
                            <a th:href="@{/admin(pastPage=${pastCurrentPage + 1}, activatePastUsersSection= true)}" class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700">Next</a>
                        </li>
                    </ul>
                    <div th:if="${pastTotalUserPages == 0}" class="flex justify-center mt-4">
                        <h1 class="text-2xl font-semibold text-gray-500">No user</h1>
                    </div>
                </nav>
            </div>
        </div>
    </main>

    <footer class="relative z-40 mt-6 footer bottom-0 items-center p-4 bg-neutral text-neutral-content">
        <aside class="items-center grid-flow-col">
            <svg width="36" height="36" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" class="fill-current"><path d="M22.672 15.226l-2.432.811.841 2.515c.33 1.019-.209 2.127-1.23 2.456-1.15.325-2.148-.321-2.463-1.226l-.84-2.518-5.013 1.677.84 2.517c.391 1.203-.434 2.542-1.831 2.542-.88 0-1.601-.564-1.86-1.314l-.842-2.516-2.431.809c-1.135.328-2.145-.317-2.463-1.229-.329-1.018.211-2.127 1.231-2.456l2.432-.809-1.621-4.823-2.432.808c-1.355.384-2.558-.59-2.558-1.839 0-.817.509-1.582 1.327-1.846l2.433-.809-.842-2.515c-.33-1.02.211-2.129 1.232-2.458 1.02-.329 2.13.209 2.461 1.229l.842 2.515 5.011-1.677-.839-2.517c-.403-1.238.484-2.553 1.843-2.553.819 0 1.585.509 1.85 1.326l.841 2.517 2.431-.81c1.02-.33 2.13.209 2.461 1.23.33 1.019-.209 2.127-1.23 2.456l-2.432.81 1.621 4.823 2.431-.809c1.355-.384 2.558.59 2.558 1.839 0 .817-.509 1.581-1.327 1.846zm-7.496-5.503l-5.012 1.677 1.621 4.823 5.012-1.677-1.621-4.823z"/></svg>
            <p>Copyright © 2024 - Made with love by Gabby & Antoine</p>
        </aside>
        <aside class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
            <a href="#twitter"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current"><path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.611 1.798-1.574 2.165-2.724-.95.566-2.005.978-3.127 1.2-.897-.956-2.178-1.555-3.594-1.555-2.717 0-4.92 2.203-4.92 4.917 0 .386.045.763.127 1.124-4.086-.205-7.715-2.164-10.141-5.144-.424.727-.666 1.572-.666 2.475 0 1.71.87 3.217 2.188 4.099-.807-.026-1.566-.248-2.228-.616v.062c0 2.386 1.697 4.376 3.946 4.829-.413.111-.848.171-1.296.171-.317 0-.626-.03-.927-.086.626 1.956 2.444 3.379 4.6 3.42-1.685 1.32-3.808 2.105-6.115 2.105-.397 0-.787-.023-1.175-.068 2.179 1.396 4.768 2.212 7.548 2.212 9.055 0 14.009-7.498 14.009-13.986 0-.213-.005-.425-.014-.636.961-.695 1.8-1.562 2.46-2.549z"/></svg></a>
            <a href="#youtube"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current"><path d="M19.615 3.184c-2.154-.805-10.077-.805-12.231 0-2.068.773-3.384 2.558-3.384 4.713v8.206c0 2.156 1.316 3.94 3.384 4.713 2.154.805 10.077.805 12.231 0 2.068-.773 3.385-2.558 3.385-4.713v-8.206c0-2.156-1.316-3.94-3.385-4.713zm-8.615 12.816v-8l6 4-6 4z"/></svg></a>
            <a href="#facebook"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current"><path d="M9.197 21v-8.837h-2.824v-3.316h2.824v-2.651c0-2.727 1.666-4.211 4.098-4.211 1.165 0 2.165.086 2.456.125v2.847h-1.684c-1.321 0-1.579.628-1.579 1.552v2.338h3.161l-.413 3.316h-2.748v8.837h-3.292z"/></svg></a>
        </aside>
    </footer>
    <script>
            document.querySelectorAll('.nav-items').forEach(link => {
                link.addEventListener('click', (event) => {
                    const targetId = event.target.getAttribute('href').substring(1);
                    const targetDiv = document.getElementById(targetId);
                    const allDivs = document.querySelectorAll('main > div');

                    allDivs.forEach(div => {
                        div.style.display = 'none';
                    });

                    targetDiv.style.display = 'block';
                });
            });
    </script>

    <script>
        function filterUsers() {
            let input = document.getElementById('searchInput');
            let filter = input.value.toLowerCase();
            let userItems = document.getElementsByClassName('user-item');

            for (let i = 0; i < userItems.length; i++) {
                let user = userItems[i].getElementsByTagName('h3')[0];
                let textValue = user.textContent || user.innerText;
                if (textValue.toLowerCase().indexOf(filter) > -1) {
                    userItems[i].style.display = "";
                } else {
                    userItems[i].style.display = "none";
                }
            }
        }

        function filterPastUsers() {
            let input = document.getElementById('searchPastUsersInput');
            let filter = input.value.toLowerCase();
            let userItems = document.getElementsByClassName('pastuser-item');

            for (let i = 0; i < userItems.length; i++) {
                let user = userItems[i].getElementsByTagName('h3')[0];
                let textValue = user.textContent || user.innerText;
                if (textValue.toLowerCase().indexOf(filter) > -1) {
                    userItems[i].style.display = "";
                } else {
                    userItems[i].style.display = "none";
                }
            }
        }

        function sortUsers(){
            const sortOrder = document.getElementById("sortOrder").value;
            if (sortOrder !== "") {
                const userList = document.getElementById("userList");
                const users = Array.from(userList.getElementsByClassName("user-item"));

                users.sort((a, b) => {
                    if (sortOrder === "alphabetical") {
                        const nameA = a.querySelector("h3").innerText.split(' - ')[1].toLowerCase();
                        const nameB = b.querySelector("h3").innerText.split(' - ')[1].toLowerCase();
                        return nameA.localeCompare(nameB);
                    } else if (sortOrder === "id") {
                        const idA = parseInt(a.querySelector("h3").innerText.split(' - ')[0]);
                        const idB = parseInt(b.querySelector("h3").innerText.split(' - ')[0]);
                        return idA - idB;
                    }
                });

                while (userList.firstChild) {
                    userList.removeChild(userList.firstChild);
                }

                users.forEach(user => userList.appendChild(user));
            }
        }

        function sortPastUsers(){
            const sortOrder = document.getElementById("sortPastUsersOrder").value;
            if (sortOrder !== "") {
                const userList = document.getElementById("pastUsersList");
                const users = Array.from(userList.getElementsByClassName("pastuser-item"));

                users.sort((a, b) => {
                    if (sortOrder === "alphabetical") {
                        const nameA = a.querySelector("h3").innerText.split(' - ')[1].toLowerCase();
                        const nameB = b.querySelector("h3").innerText.split(' - ')[1].toLowerCase();
                        return nameA.localeCompare(nameB);
                    } else if (sortOrder === "id") {
                        const idA = parseInt(a.querySelector("h3").innerText.split(' - ')[0]);
                        const idB = parseInt(b.querySelector("h3").innerText.split(' - ')[0]);
                        return idA - idB;
                    }
                });

                while (userList.firstChild) {
                    userList.removeChild(userList.firstChild);
                }

                users.forEach(user => userList.appendChild(user));
            }
        }



    </script>
    <script>
            document.addEventListener("DOMContentLoaded", function() {
                const form = document.getElementById("userForm");
                const inputs = form.querySelectorAll("input[required], input[type='email'], input[type='password']");

                const showError = (input, messages) => {
                    const errorSpan = input.parentElement.querySelector(".error-message");
                    if (Array.isArray(messages)) {
                        const ul = document.createElement("ul");
                        messages.forEach(msg => {
                            const li = document.createElement("li");
                            li.textContent = msg;
                            ul.appendChild(li);
                        });
                        errorSpan.innerHTML = ""; // Clear previous messages
                        errorSpan.appendChild(ul);
                    } else {
                        errorSpan.textContent = messages;
                    }
                    input.classList.add("border-red-600");
                };

                const clearError = (input) => {
                    const errorSpan = input.parentElement.querySelector(".error-message");
                    errorSpan.textContent = "";
                    input.classList.remove("border-red-600");
                };

                const validateEmail = (email) => {
                    const re = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                    return re.test(String(email).toLowerCase());
                };

                const validatePassword = (password) => {
                    const re = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
                    return re.test(String(password));
                }

                const getPasswordErrorMessage = (password) => {
                    let messages = [];

                    if (!/.{8,}/.test(password)) {
                        messages.push("Password must be at least 8 characters long.");
                    }
                    if (!/[a-z]/.test(password)) {
                        messages.push("Password must contain at least one lowercase letter.");
                    }
                    if (!/[A-Z]/.test(password)) {
                        messages.push("Password must contain at least one uppercase letter.");
                    }
                    if (!/\d/.test(password)) {
                        messages.push("Password must contain at least one digit.");
                    }
                    if (!/[@$!%*?&]/.test(password)) {
                        messages.push("Password must contain at least one special character (@$!%*?&).");
                    }
                    return messages;
                }

                const validateInput = (input) => {
                    if (input.name === "email" && !validateEmail(input.value)) {
                        showError(input, "Please enter a valid email address.");
                        return false;
                    } else if (input.name === "password" ) {
                        const passwordErrors = getPasswordErrorMessage(input.value);
                        if (passwordErrors.length > 0) {
                            showError(input, passwordErrors);
                            return false;
                        }
                    } else if (input.value.trim() === "") {
                        showError(input, "This field is required.");
                        return false;
                    }
                    clearError(input);
                    return true;
                };

                inputs.forEach(input => {
                    input.addEventListener("input", () => validateInput(input));
                });

                form.addEventListener("submit", function(event) {
                    let isValid = true;
                    inputs.forEach(input => {
                        if (!validateInput(input)) {
                            isValid = false;
                        }
                    });

                    if (!isValid) {
                        event.preventDefault();
                        console.log("form not valid")
                    }
                });

                if (window.location.href.includes('activatePastUsersSection=true')) {
                    let link = document.getElementById("linkToClick");
                    link.click();
                }
            });
    </script>
    <script src="https://cdn.tailwindcss.com"></script>
    </body>
</html>