<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Error </title>
</head>
<body>
    <div class="grid h-screen place-content-center bg-white px-4">
        <div class="text-center">
            <h1 th:text="${code}" class="text-9xl font-black text-gray-200">404</h1>

            <p class="text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl">Uh-oh!</p>

            <p th:text="${message}" class="mt-4 text-gray-500">We can't find that page.</p>

            <a
                    href="login"
                    class="mt-6 inline-block rounded bg-indigo-600 px-5 py-3 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring"
            >
                Go Back Home
            </a>
        </div>
    </div>
    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>