<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.9.0/dist/full.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<section class="bg-gray-50 dark:bg-gray-900 self-center">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <div class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white" th:text="${pageTitle}"></div>
        <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <p>The Chat is an online chat application</p>
                <p>It allows users to create communication channels and invite other members to join those channels.</p>
                <p>Only <a href="/admin"><u>administrators</u></a> are allowed to add or remove users.</p>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.tailwindcss.com"></script>
</body>
</html>
